
<link href="css/site.css" rel="stylesheet" />

<div class="conteiner">
    <h1>Loja Games Two Players</h1>
</div>

    <div class="card">
        <div class="img">
        <img src="img/robo.png" />
        </div>
        <h2>Jogos de Aventura</h2>
        <p>Para todas as idades</p>
    </div><br/>

<div class="card">
    <div class="img">
        <img src="img/terror.png" />
    </div>
    <h2>Jogos de Terror</h2>
    <p>Para todas as idades</p>
</div>
<br />

<div class="card">
    <div class="img">
        <img src="img/acao.png" />
    </div>
    <h2>Jogos de Ação</h2>
    <p>Para todas as idades</p>
</div>
<br />

<div class="card">
    <div class="img">
        <img src="img/luta.png" />
    </div>
    <h2>Jogos de Luta</h2>
    <p>Para todas as idades</p>
</div>
<br />